/* Inspiration:
 * http://tympanus.net/codrops/2013/06/06/on-scroll-animated-header/
 *
 *
 */

@import url('http://fonts.googleapis.com/css?family=Lato:300,400,600');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

header.shrunk {
	@include height-transition();
	height: $s-header-height;

	h1 a {
		@include all-transition();
		font-size: 2rem;
		line-height: $s-header-height;
	}

	nav a {
		@include indicator-transition();
		line-height: $s-header-height;
	}
}

header {
	@include shadow();
	@include height-transition();
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background-color: $p1-color;
    overflow: hidden;

    z-index: $layer2;

    h1 {
    	@include all-transition();
	    display: inline-block;
	    float: left;
	    height: $header-height;
	    margin-left: 30px;

		a {
			@include all-transition();
			color: white;
		    font: 400 3rem $p-font;
		    text-decoration: none;
			line-height: $header-height;
		}
	}

	nav {
		display: inline-block;
    	float: right;
    	margin-right: 37px;

    	a.currentSection {
    		@include indicator-transition();
    		color: white;
			border-bottom: 1.5px solid white;
    	}

    	a {
    		@include indicator-transition();
    		padding: 0px 3px 2px 3px;
			margin-left: 20px;
			border-bottom: 1.5px solid transparent;
			color: $s1-color;
			font: 300 1.1rem $p-font;
			text-decoration: none;
			line-height: $header-height * 2 - $s-header-height;
		}

		a:hover {
			@include indicator-transition();
			border-bottom: 1.5px solid $s1-color;
		}
	}
}

main {
	position: relative;
	margin-top: $header-height;

	.carousel {
		position: relative;
		width: 100%;
		height: 300px;

		#buttons {
			button {
				display: inline-block;
				height: 300px;
				width: 80px;
				border: 0px;
				background-color: $button-color;
				opacity: 20%;
				outline: 0;
			}

			button:hover {
				background-color: $button-hover-color;
			}

			#prev {
				float: left;
			}

			#next {
				float: right;
			}
		}

		i {
			font-size: 60px;
			color: $button-arrow-color;
		}

		.panes {
			width: 100%;

			li {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 300px;
				opacity: 50%;

				z-index: $layer-2;

				img {
					@include carousel-transition();
					position: absolute;
					bottom: -200px;
					width: 100%;
					height: auto;
					min-width: 100%;
					min-height: 100%;
					opacity: 1;
				}

				img.hidden {
					@include carousel-transition();
					opacity: 0;
				}
			}
		}
	}

	section#summary {
		padding-bottom: 40px;

		div {
			-webkit-column-count: 3;
    		-moz-column-count: 3;
    		column-count: 3;
			font: 300 1.1rem $p-font;
			text-align: center;

			i {
				color: $s1-color;
	    		font-size: 100px;
			}

			p {
				margin-top: 10px;
			}
		}
	}

	section {
		@include shadow();
		background-color: $bg-color;
		padding: 40px 80px 60px 80px;

		h1 {
			color: $p2-color;
			margin-bottom: 1rem;
			font: 300 2rem $p-font;
		}

		img {
			float: right;
			margin-left: 20px;
			height: 200px;
			width: auto;
		}

		p {
			color: $text-color;
			font: 300 1.1rem $p-font;
			line-height: 1.4rem;
		}
	}

	section.transparent {
		background-color: transparent;
		box-shadow: 0 0 0px;

		h1 {
			color: white;
			margin-bottom: 1rem;
			font: 300 2rem $p-font;
		}

		p {
			color: white;
			font: 300 1.1rem $p-font;
			line-height: 1.4rem;
		}
	}
}

footer {
	@include shadow();
	position: relative;
    width: 100%;
    height: 60px;
    background-color: $p1-color;
    overflow: hidden;

	#social {
    	margin-right: 30px;

		a {
	    	display: inline-block;
			float: right;
	    	margin-top: 15px;
	    	margin-left: 20px;

	    	i {
	    		color: $s1-color;
	    		font-size: 30px;
	    	}
		}
	}

	span {
		display: inline-block;
		float: left;
		margin-left: 30px;
		font: 300 1.1rem $p-font;
		line-height: 60px;
		color: $s1-color;
	}
}

// video {
// 	position: fixed;
// 	left: 50%;
// 	top: 0;
// 	transform: translate(-50%,0);
// 	width: auto;
// 	height: auto;
// 	min-width: 120%;
// 	min-height: 120%;
// 	z-index: $layer-3;
// 	background: url(/img/aurora-still.png) center center no-repeat;
// 	background-size: cover;
// }

html {
	background: url(/img/background-image.png) no-repeat center center fixed;
	background-size: cover;
}