// Colors
	$title-color 		: white;
	$text-color 		: black;
	$bg-color 			: white;
	$button-color 		: hsla(0, 0, 0, 0.1);
	$button-hover-color : hsla(0, 0, 0, 0.2);
	$button-arrow-color : hsla(0, 0, 100%, 0.5);
	$shadow-opacity 	: 0.3;
	// $p1-color 			: #4294FF;
	// $p2-color 			: #C487FC;
	// $s1-color 			: lighten($p1-color, 25%);
	// $s2-color 			: darken($p2-color, 15%);
	// $t1-color 			: #58E2C6;
	// $t2-color 			: darken($p1-color, 10%);
	$p1-color 			: #C9201C;
	$p2-color 			: #756C35;
	$s1-color 			: lighten($p1-color, 30%);
	$s2-color 			: darken($p2-color, 15%);
	$t1-color 			: #D6B456;
	$t2-color 			: darken($p1-color, 10%);

// Fonts
	$p-font: 	Lato, sans-serif;
	// $s-font:  	serif;

// Parameters
	$header-height: 		100px;
	$s-header-height: 		60px;
	$carousel-duration: 	1s;
	$shrink-duration: 		0.3s;
	$indicator-duration: 	0.2s;
	$layer2: 				2;
	$layer1: 				1;
	$layer0: 				0;
	$layer-1:				-1;
	$layer-2:				-2;
	$layer-3:				-3;